Package: connecman
Priority: optional
Version: 1.1.2
Architecture: all
Maintainer: Victor David Santos <victordavidsantos@gmail.com>
Installed-Size: 25636
Depends: build-essential, libsdl2-dev, libgl1-mesa-dev, libopenal-dev, libsndfile-dev, libmpg123-dev, libgmp-dev, libfontconfig1-dev, ruby, ruby-dev
Homepage: https://github.com/victords/connecman
Section: games
Description: ConnecMan
 A puzzle game about connecting pieces with straight lines.
